

#mainnavbar .navbar-brand{
    color: #ecedf1;
    font-size: 1.5rem;
    font-weight: 900;
}
#mainnavbar .navbar-brand:hover{
    text-shadow: 2px 2px 5px rgb(219, 82, 178);
}
#mainnavbar{
    font-size: 1.3rem;
    font-weight: 500;
    color: 10px solid white;
    font-family: 'Lobster', cursive;;
}
#mainnavbar .nav-link:hover{
    color: #f11c5c;
}   

#mainnavbar{
    color: black;
    
}

.allIndex{
    
    border-style:inset;
    /* border-left: 100px; */
    border-radius: 30px;
    height:min-content;
    margin-top: 100px;
}
                              
.para{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Lobster', cursive;
   
}

.heading{
    font-weight: 200;
    font-family: 'Lobster', cursive;
}

.myText{
    /* background: linear-gradient(to right, #f1faee,#90e0ef,#ffafcc,#4ea8de,#ffafcc,#90e0ef,#f1faee);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
    color: white;
}
.aboutMe{
    margin-top:50px ;
}

.resBtn:hover{
    background-color: rgba(0, 255, 255, 0.164);
    box-shadow: 2px 2px 10px white ;
    
}
.btnDiv a:hover{
    color: white;
}
.btnDiv{
    margin-top: 20px;
}

.profilePic{
    height: 200px;
    position:relative;
    border-radius: 50%;
    top: 40px;
    
    /* left: 100px; */
}
.show{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    

}
.myCarouselContainer{
    margin-top: 20px;
    margin-bottom: 100px;
}

body{
    
    background-image:url(https://images.unsplash.com/photo-1613375920388-f1f70f341f8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) ;
    /* background-repeat:no-repeat; */
    /* background-position: center; */
    /* position: relative; */
    /* background-size: 230%;    */
}

/* https://media.istockphoto.com/photos/abstract-red-and-black-are-light-pattern-with-the-gradient-is-the-picture-id1286371622?b=1&k=20&m=1286371622&s=170667a&w=0&h=ovc92w1lnD7X01kLMnd2HNVBecavgzyz-Mq1WvDLNhI= */

/* https://images.unsplash.com/photo-1613375920388-f1f70f341f8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80 */



.list{
    font-size: large;
    font-weight: bolder;
    color: white;
}

.bold{
    background: linear-gradient(to right,#80ffdb,#72efdd,#64DFDF,#56CFE1,#48BFE3,#4EA8DE,#4EA8DE,#48BFE3,#48BFE3,#56CFE1,#64DFDF,#72efdd,#80ffdb);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#projectList{
    margin-top: 300px;
    margin-bottom: 0px;
}
.box{
    border: 3px solid black;
    border-radius: 10px;
}
.head{
    text-align: center;
    /* font-size: 20px; */
    
}

/* li{
    color: white;
}
li a:hover{
    color: lightskyblue;
} */


.projects a:visited{
    color: blanchedalmond;
}

a{
    color: white;
}

/* a:visited{
    color: blueviolet;
} */

.projects a:active{
    color:white;
}

/* .projects a:visited{
    color:violet;
} */

.frame{
    width: 850px;
  
}
                        /* contact  */

.logo{
    height: 30px;
    width: 30px;
                        
}

/* .icons{
    border-bottom: 1px solid black;
} */

.contactLinks{
    margin-left: 10px;
}

.contactBox{
    margin-top: 200px;
    /* width: 100%; */
    background-color: rgba(240, 248, 255, 0.486);
}


.linkedIn{
    font-size: 10px;
}
/* .projects a:hover{
    color: black;
} */

/* a{
    color: black;
} */



